<aside class="materiais">
    <button class="site"><a href="site.html" class="site">SITE</a></button>
    <button class="video"><a href="video.html" class="video">VÍDEO</a></button>
    <button class="livro"><a href="livro.html" class="livro">LIVRO</a></button>
    <button class="artigo"><a href="artigo.html" class="artigo">ARTIGO EM PDF/ONLINE</a></button>
    <button class="trabalhos"><a href="trabalhos.html" class="trabalhos">TRABALHOS ACADÊMICOS</a></button>
</aside>