<aside class="materiais">
    <button class="site"><a href="site">SITE</a></button>
    <button class="video"><a href="video">VÍDEO</a></button>
    <button class="ebook"><a href="ebook">EBOOK</a></button>
    <button class="articles"><a href="artigo">ARTIGO EM PDF/ONLINE</a></button>
    <button class="academics"><a href="trabalhos">TRABALHOS ACADÊMICOS</a></button>
</aside>