<aside class="materiais">
    <button class="site"><a href="site" class="site">SITE</a></button>
    <button class="video"><a href="video" class="video">VÍDEO</a></button>
    <button class="livro"><a href="livro" class="livro">LIVRO</a></button>
    <button class="artigo"><a href="artigo" class="artigo">ARTIGO EM PDF/ONLINE</a></button>
    <button class="trabalhos"><a href="trabalhos" class="trabalhos">TRABALHOS ACADÊMICOS</a></button>
</aside>