<aside class="materiais">
    <a href="site" class="site">SITE</a>
    <a href="video" class="video">VÍDEO</a>
    <a href="ebook" class="ebook">EBOOK</a>
    <a href="article" class="article">ARTIGO EM PDF/ONLINE</a>
    <a href="academics" class="academics">TRABALHOS ACADÊMICOS</a>
</aside>