@charset "UTF-8";
:root {
    --um: #F2BDBD;
    --dois: #262624;
    --tres: #A65233;
    --quatro: #8C512E;
    --cinco: #D96B43;
    --letras: white;
}
* {
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article {
    height: fit-content;
    width: 98vw; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
header {
    background-color: var(--tres);
    height: 12vh;
    width: 99.5vw;
    box-shadow: 5px 8px 22px -12px var(--dois);
    /* centralizar título - h1 */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font: normal normal 2.4em serif;
    color: var(--letras);
}
main {
    width: 80vw;
    height: 113vh; 
    margin-top: 35px;
    /* border-right: 1px solid var(--dois); */
    box-shadow: 8px 12px 17px -12px var(--dois);
    display: grid;
    grid-template-areas:
    "aside section";
    grid-template-columns: 8vw auto;
    /* deixar as duas áreas na parte de cima */
    /* precisa criar linhas e colunas para ajustar os elementos dentro dele */
}
aside.materiais {
    grid-area: aside;
    margin-top: 30px;
    width: 10vw;
    /* max-width: 10px; */
    box-shadow: 8px 5px 17px -12px var(--dois);
    /* background-color: var(); */
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.site, .video, .livro, .artigo, .trabalhos {
    background-color: var(--cinco);
    color: var(--letras);
    width: 8vw;
    height: 5vh;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
}
div.legenda_section {
    width: 45vw;
    border-bottom: solid 1px var(--tres);
}
h2 {
    margin: 15px 0px;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
section.referencias {
    /*background-color: antiquewhite;*/
    width: 72vw;
    grid-area: section;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
section.informacoes {
    background-color: var(--um);
    margin-top: 30px;
    width: 45vw;
    height: 332px;
    border-radius: 17px;
}
form {
    margin: 21px 0px 16px 35px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
label.das_informacoes {
    font: normal normal 1em Arial;
}
input {
    height: 2vh;
    width: 21vw;
    border: none;
    border-radius: 11px;
}
.enviar_informacoes {
    background-color: var(--cinco);
    color: var(--dois);
    margin: 5px 35px;
    border: none;
    border-radius: 7px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}
section.resultado {
    background-color: var(--um);
    width: 45vw;
    height: 30vh;
    border-radius: 17px;
}
footer {
    background-color: var(--tres);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}