@charset "UTF-8";

* {
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article {
    background-color: rgb(177, 184, 147);
    width: 80vw; 
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
}
header {
    background-color: aqua;
    grid-area: header;
    /* centralizar título - h1 */
    display: flex;
    justify-content: center;
}
h1 {
    font: normal normal 2em serif;
}
main {
    background-color: azure;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "aside main";
    grid-template-columns: 7vw auto;
    /* deixar as duas áreas na parte de cima */
    /* precisa criar linhas e colunas para ajustar os elementos dentro dele */
}
aside.materiais {
    background-color: blue;
    width: 7vw;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
button.aside {
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 0.8vw;
    cursor: pointer;
    /* background-color: ; */
}
section.referencias {
    background-color: blueviolet;
    /* width: 50vw; */
    /* para as duas seções dele: */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section.informacoes {
    width: 50vw;
    height: 50vh;
}
form {
    margin: 21px;
}
.das_informacoes {
    font: normal normal 1em Arial;
}
.enviar_informacoes {
    background-color: rgb(116, 117, 117);
    margin: 0px 21px;
    border: none;
    border-radius: 7px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}
section.resultado {
    width: 50vw;
}

footer {
    background-color: bisque;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}