@charset "UTF-8";
:root {
    --um: #F2BDBD;
    --dois: #262624;
    --tres: #A65233;
    --quatro: #8C512E;
    --cinco: #D96B43;
}
* {
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article {
    width: 98vw; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
header {
    background-color: var(--tres);
    height: 8vh;
    width: 98vw;
    /* centralizar título - h1 */
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font: normal normal 2em serif;
}
main {
    width: 60vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "aside section";
    grid-template-columns: 7vw auto;
    /* deixar as duas áreas na parte de cima */
    /* precisa criar linhas e colunas para ajustar os elementos dentro dele */
}
aside.materiais {
    grid-area: aside;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
button.aside {
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 0.8vw;
    cursor: pointer;
    /* background-color: ; */
}
section.referencias {
    background-color: blueviolet;
    width: 53vw;
    grid-area: section;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
section.informacoes {
    background-color: rgb(104, 110, 116);
    margin-top: 25px;
    width: 45vw;
    height: 332px;
}
form {
    margin: 21px 0px 16px 35px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
label.das_informacoes {
    font: normal normal 1em Arial;
}
input {
    width: 21vw;
}
.enviar_informacoes {
    background-color: rgb(116, 117, 117);
    margin: 5px 35px;
    border: none;
    border-radius: 7px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}
section.resultado {
    background-color: rgb(145, 137, 127);
    width: 45vw;
    height: 30vh;
}
section > h2 {
    padding-top: 15px;
    text-align: center;
}

footer {
    background-color: bisque;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}