@charset "UTF-8";

/* definir tudo para celular - principal*/
:root {
    --um: #F2BDBD;
    --dois: #262624;
    --tres: #A65233;
    --quatro: #8C512E;
    --cinco: #D96B43;
    --letras: white;
}
* {
    margin: 0px;
}
h1 {
    font: normal normal 1.7em serif;
}
aside.materiais {
    justify-self: center;
    width: 113px;
    grid-area: aside;
    margin-top: 32px;
    width: 95%;
    box-shadow: 7px 4px 14px -14px var(--dois);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
/* estilo dos botões dos sites */
a.site, a.video, a.ebook, a.articles, a.academics {
    width: 84px;
    height: 20px;
    font-size: 9px;

    padding-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    color: var(--letras);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cinco);
    border: none;
    align-self: center;
}
article {
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 88px auto 48px;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer";     
}
header {
    grid-area: header;
    background-color: var(--tres);
    box-shadow: 5px 8px 22px -12px var(--dois);
    display: flex;
    justify-content: center;
    align-items: center;
}
h3.subtitle_section {
    font-family: 'Castoro Titling', cursive;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
}
main {
    width: 73vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    
    align-items: center; 
    grid-area: main;
    margin-top: 32px;
    box-shadow: 4px 12px 17px -12px var(--dois);
    justify-items: center;
}
section.referencias {
    width: 69vw;
    height: fit-content;
    justify-self: center;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}
div.legenda_section {
    width: 64vw;
    border-bottom: solid 1px var(--tres);
}
h2.titulo_section {
    color: var(--dois);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* h2 {
    font: normal normal 1.4em serif;
} */
section.informacoes, section.resultado {
    background-color: var(--um);
    padding: 16px;
    margin-top: 32px;
    width: 64vw;
    height: fit-content;
    border-radius: 17px;
    box-shadow: 3px 6px 17px -12px var(--dois);
}
section.resultado {
    height: 120px;
}
form {
    margin: 18px 0px 22px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}