@charset "UTF-8";

/* definir tudo para celular */
/*
article {
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 88px auto 48px;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer"; 
}*/

h1 {
    font: normal normal 2.4em serif;
    color: var(--letras);
    text-align: center;
}
h2.titulo_section {
    color: var(--dois);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3.subtitle_section {
    font-family: 'Castoro Titling', cursive;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
}
main {
    grid-area: main;
    width: 70vw;
    margin-top: 32px;
    box-shadow: 4px 12px 17px -12px var(--dois);
    display: flex;
    flex-direction: column;
    justify-items: center;
}
aside.materiais {
    grid-area: aside;
    justify-self: flex-end;
    margin-top: 32px;
    width: 95%;
    box-shadow: 7px 4px 14px -14px var(--dois);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
/* estilo dos botões dos sites */
a.site, a.video, a.ebook, a.article, a.academics {
    font-size: 10px;
    color: var(--letras);
    width: 113px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cinco);
    padding-top: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    align-self: center;
}
a.site {
    margin-top: 24px;
}
div.legenda_section {
    width: 64vw;
    border-bottom: solid 1px var(--tres);
}
h2 {
    margin: 15px 0px;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
}
section.referencias {
    width: 72vw;
    height: fit-content;
    grid-area: section;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
section.informacoes, section.resultado {
    background-color: var(--um);
    padding: 16px;
    margin-top: 5px;
    width: 45vw;
    height: fit-content;
    border-radius: 17px;
    box-shadow: 3px 6px 17px -12px var(--dois);
}
form {
    margin: 21px 0px 16px 35px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
label.das_informacoes {
    font: normal normal 1em Arial;
}
input {
    padding: 7px;
    height: 2vh;
    width: 21vw;
    border: none;
    border-radius: 7px;
}
button[type=submit] {
    background-color: var(--cinco);
    color: var(--dois);
    margin: 5px 35px;
    border: none;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
section.resultado {
    background-color: var(--um);
    width: 45vw;
    height: 128px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 3px 6px 17px -12px var(--dois);
} 
footer {
    grid-area: footer;
    color: var(--dois);
    background-color: var(--quatro);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}