@charset "UTF-8";

/* medium - landscape tablets - 768px - 992px */

article {       
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 88px auto 48px;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}

header {width: 107vw;}

h1 {font: normal normal 1.9em serif;}

aside.materiais {
    margin-top: 48px;
    gap: 36px;
    flex-direction: column;
}
/* estilo dos botões dos sites */
a.site, a.video, a.ebook, a.article, a.academics {
    font-size: 0.8em;
    height: 36px;
    margin-left: 2px;
}
a.site { margin-top: 16px; }

main { width: 80vw; box-shadow: 4px 12px 17px -12px var(--dois); }

h2.titulo_section {
    margin: 16px 0px;
    font-size: 1.8em;
}

section.referencias { width: 72vw; gap: 16px; justify-content: center; }

div.legenda_section { width: 64vw; }

section.informacoes, section.resultado { width: 64vw; padding: 24px; }

h3.subtitle_section { font-size: 1.3em; margin-bottom: 8px; }

section.resultado { padding: 24px; }

label.das_informacoes {
    width: 56vw;
    font: normal normal 1em Arial;
    margin-bottom: 8px;
}
input {width: 56vw;}

button[type=submit] { width: 88px; }