@charset "UTF-8";

/* definir tudo para celular - principal*/
:root {
    --um: #F2BDBD;
    --dois: #262624;
    --tres: #A65233;
    --quatro: #8C512E;
    --cinco: #D96B43;
    --letras: white;
}
* {
    margin: 0px;
}
h1 {
    font: normal normal 1.7em serif;
}
aside.materiais {
    justify-self: center;
    width: 113px;


}
article {
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 88px auto 48px;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer"; 
}
.site, .video, .ebook, .articles, .academics {
    width: 84px;
    height: 20px;
    font-size: 9px;

    padding-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
}
main {
    width: 73vw;
    justify-self: center;
    display: flex;
    flex-direction: column;

    align-items: center; 
}
section.referencias {
    width: 69vw;
    height: fit-content;
    justify-self: center;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h2 {
    font: normal normal 1.4em serif;
}
section.informacoes, section.resultado {
    background-color: var(--um);
    padding: 16px;
    margin-top: 32px;
    width: 64vw;
    height: fit-content;
    border-radius: 17px;
    box-shadow: 3px 6px 17px -12px var(--dois);
}
section.resultado {
    height: 120px;
}
form {
    margin: 18px 0px 22px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}