<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<!-- page2 -->
<body>
    <article class="geral">
        <header><h1>REFERÊNCIAS BIBLIOGRÁFICAS</h1></header>
        <!--acrescentar aside.ejs  -->
        <%- include('../partials/aside'); %>
        <main class="tudo">
            <!-- onde ficará  -->
            <section class="referencias">

                <div class="legenda_section">
                    <h2 class="titulo_section">Informações para referência</h2>
                </div>

                <section class="informacoes">  
                    <h3 class="subtitle_section">EBOOK</h3>
                    <!-- ABNT – NBR 6023/2018 -->
                         
                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="author">AUTOR</label>
                        <input type="text" name="lauthor" id="author" placeholder="Autor">
                    </form>

                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="title">TÍTULO</label>
                        <input type="text" name="ltitle" id="title" placeholder="Título">
                    </form> 

                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="subtitle">SUBTÍTULO</label>
                        <input type="text" name="lsubtitle" id="subtitle" placeholder="Subtítulo">
                    </form> 

                    <form action="" class="formulario">
                        <label class="das_informacoes" for="edition">EDIÇÃO</label>
                        <input type="number" name="ledition" id="edition" placeholder="Edição">
                    </form>

                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="place">LOCAL DA PUBLICAÇÃO</label>
                        <input type="text" name="lplace" id="place" placeholder="Local da publicação">
                    </form> 

                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="editor">EDITORA</label>
                        <input type="text" name="leditor" id="editor" placeholder="Editora">
                    </form> 

                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="year">ANO DE PUBLICAÇÃO</label>
                        <input type="number" name="lyear" id="year" placehoyearlder="Ano de publicação">
                    </form> 

                    <button type="submit" class="send_ebook">ENVIAR</button>
                </section>        
                
                <%- include('../partials/done'); %>
            </section>
        </main>
        <footer>CRIADO POR PATRÍCIA SANTANA</footer> 
    </article>
    <script src="/scripts/ebook.js"></script>
</body>
</html>