<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<!-- page2 -->
<body>
    <article class="geral">
        <header><h1>REFERÊNCIAS BIBLIOGRÁFICAS</h1></header>
        <!--acrescentar aside.ejs  -->
        <%- include('../partials/aside'); %>
        <main class="tudo">
            <!-- onde ficará  -->
            <section class="referencias">
                <div class="legenda_section">
                    <h2 class="titulo_section">Informações para referência</h2>
                </div>
                <section class="informacoes">       
                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="autor">AUTOR</label>
                        <input type="text" name="lautor" id="autor">
                    </form>
                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="titulo">TÍTULO</label>
                        <input type="text" name="ltitulo" id="titulo">
                    </form>                    
                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="titulo">SUBTÍTULO</label>
                        <input type="text" name="lsubtitulo" id="subtitulo">
                    </form>                    
                    <form action="" class="fomulario">
                        <label class="das_informacoes" for="disponivel">DISPONÍVEL EM:</label>
                        <input type="text" name="ldisponivel" id="disponivel">
                    </form>
                    <form action="" class="formulario">
                        <label class="das_informacoes" for="acesso">ACESSO EM: </label>
                        <input type="date" name="lacesso" id="acesso">
                    </form>
                    <button type="submit" class="enviar_informacoes">ENVIAR</button>
                </section>        
                <!-- acrescentar done.ejs -->
                <%- include('../partials/done'); %>
            </section>
        </main>
        <footer>CRIADO POR PATRÍCIA SANTANA</footer> 
    </article>
</body>
</html>